* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: gray;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
}
.mainDiv {
  width: 500px;
  background-color: bisque;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px;
  padding: 30px 0px;
}
input,
textarea {
  width: 100%;
  padding: 10px 5px;
  border: 2px solid brown;
  border-radius: 5px;
  outline: none;
  margin-top: 5px;
}
.form-group {
  margin: 10px 0px;
  width: 90%;
}
button {
  width: 90%;
  border: none;
  padding: 15px 0px;
  background-color: green;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px 0;
}
button:hover {
  background-color: darkgreen;
  border-radius: 15px;
}

.alertMessage {
  width: 90%;
  border: 2px solid;
  margin-top: 10px;
  border-radius: 5px;
  justify-content: center;
  padding: 10px;
}

#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}
#modalOverlay.active {
  display: flex;
  transform: scale(1);
}

.modal-content {
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.modal-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.cancel-btn {
  background-color: #dc3545;
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 35px;
  cursor: pointer;
  color: #333;
}
.close-modal:hover {
  color: red;
}
.close-modal:active {
  color: darkred;
}
.send-btn {
  background-color: #28a745;
}
.forgot-password {
  display: block;
  text-align: center;
  color: #333;
  margin: 10px 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.forgot-password:hover {
  text-decoration: underline;
  font-size: 25px;
  color: red;
  cursor: pointer;
}
.forgot-password:active {
  text-decoration: underline;
  font-size: 25px;
  color: darkred;
  cursor: pointer;
}
